services:
  - type: web
    name: camping-server
    env: node
    region: singapore
    plan: free
    buildCommand: npm install
    startCommand: node index.js
    rootDir: server
    envVars:
      - key: NODE_VERSION
        value: 18.17.0
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
